*{
    margin: 0;
    padding: 0;
}
body{
   margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 1000px;
    height: 900px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom#030001, #F0D9B5);

}

h1{
    color: #b14442;
    font-size: 70px;
    margin-bottom: 15px;
}

.table {
    width: 700px;
    height: 700px;
    display: flex;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    background-color: #7B2524;
    padding-top: 25px;
    padding-right: 25px;
}

.n-cl{
    display: flex;
    flex-direction: column-reverse;
}

.number{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 30px;
    
    margin-bottom: 35px;
    margin-right: 10px;
    color: #F0D9B5;

}

.line-white{
   
    display: flex;
    flex-direction: column-reverse;
    
}

.line-black{
    display: flex;
    flex-direction: column;
  
}

.white{
    display: flex;
    height: 70px;
    width: 70px;
    background-color:#B58863 ;
    
}

.white:hover{
    background-color: #b14442;
}

.black:hover{
    background-color: #b14442;
}

.black{
    display: flex;
    height: 70px;
    width: 70px;
    background-color: #F0D9B5;
}

.abc{
    display: flex;
    
    flex-direction: row;
    color: #F0D9B5;
}
.letters{
    text-align: center;
    font-size: 30px;
    color: #F0D9B5;
}


footer{
    margin-top: 20px;
    margin-left: 120px;
    display: inline-flex;
    height: 25px;
    

    
}

footer div{
    display: inline-flexbox;
    margin-right: 80px;
    
}

input{
    padding: 10px;
    border: 3px transparent white;
    border-radius: 15px;

}

input:hover{
    background-color: #7B2524;
    color: white;
}

img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    width: 60px;
    height: 60px;
}